<header>
  <h2>Pay Friends</h2>

  <div id="recaps">
    <div><p><%= current_user.name %> - </p></div>
    <div><p>To Pay</div>
    <div><p id='recap_to_pay'><%= current_user.to_pay %></p></div>
    <div><p>To Receive</p></div>
    <div><p id='recap_to_receive'><%= current_user.to_receive %></p></div>
  </div>
</header>

<div id="quick_adds">

  <%= form_for @deal do |form| %>   
    <%= form.submit 'New deal' %>
    <%= form.text_field :amount, placeholder: "$£€¥" %>
    
    <%= form.label "From" %>
    <%= form.select :payer, options_from_collection_for_select(@users, "id", "name", current_user.id) %>
    <%= form.label "To" %>
    <%= form.select :receiver, options_from_collection_for_select(@users, "id", "name", current_user.id) %>

    <%= form.text_field :description %>

    <%= form.submit 'Go!' %>
  <% end %>

<!-- NEED TO RENAME THE FORM ID   because new_uuser is already taken by the login stuffs-->
  <%= form_for @user, :html => { :id => "new_friend" } do |form| %>
    <%= form.submit 'New friend' %>
    <%= form.text_field :name, placeholder: "Friend's name" %>
    <%= form.submit 'Go!' %>
  <% end %>

</div>

<div id="view_zone">

  <div id="quick_menu">
    <ul>
      <li><a href="#" data-go='#pending_deals' class='active_menu'>Pending</a></li>
      <li><a href="#" data-go='#friends'>Friends</a></li>
      <li><a href="#" data-go='#deals_to_pay'>To Pay</a></li>
      <li><a href="#" data-go='#deals_to_receive'>To Receive</a></li>
      <li><a href="#" data-go='#history'>History</a></li>
    </ul>
  </div>
  
  <div id="left_column" class='column'>

    <div id="pending_deals" class="sub_zone js_sub_zone">
      <h4 class='active_menu'>Gotta take care of these bad boys.</h4>

      <% @pending.each do |deal| %>
      <ul class='indiv_deal_box'>
        <li class="indiv_deal_details"> <span><%= "#{deal.time_create_readable}" %> - </span> <%= link_to "#{deal.long_description(current_user)}", '#', data: {deal_id: "#{deal.id}"} %></li>

        <% if deal.payer.name != current_user.name  %>
          <li class='indiv_deal_pay'><button class="pay_button" data-id=<%= deal.id %>>Pay</button></li>
        <% end %>
      </ul>
      <% end %>
    </div>

    <div id="history" class="sub_zone js_sub_zone hidden">
      <h4 class='active_menu'>Things of the past.</h4>

      <% @history.each do |deal| %>
      <ul class='indiv_deal_box'>
        <li class="indiv_deal_details"> <span><%= "#{deal.time_create_readable}" %> - </span> <%= link_to "#{deal.long_description(current_user)}", '#', data: {deal_id: "#{deal.id}"} %></li>
      </ul>
      <% end %>
    </div>

    <div id="friends" class="sub_zone js_sub_zone hidden">
      <h4 class='active_menu'>Good fences make good neighbors.</h4>
    </div>

    <div id="deals_to_pay" class="sub_zone js_sub_zone hidden">
      <h4 class='active_menu'>A Lannister always pays his debts.</h4>

      <% @deals_to_pay.each do |deal| %>
      <ul class='indiv_deal_box'>
        <li class="indiv_deal_details"> <span><%= "#{deal.time_create_readable}" %> - </span> <%= link_to "#{deal.long_description(current_user)}", '#', data: {deal_id: "#{deal.id}"} %></li>
        <li class='indiv_deal_pay'><button class="pay_button" data-id=<%= deal.id %>>Pay</button></li>
      </ul>
      <% end %>
    </div>

      <div id="deals_to_receive" class="sub_zone js_sub_zone hidden">
      <h4 class='active_menu'>If you owe your bank a hundred pounds, you have a problem.<br> But if you owe a million, it has.</h4>

      <% @deals_to_receive.each do |deal| %>
      <ul class='indiv_deal_box'>
        <li class="indiv_deal_details"> <span><%= "#{deal.time_create_readable}" %> - </span> <%= link_to "#{deal.long_description(current_user)}", '#', data: {deal_id: "#{deal.id}"} %></li>
      </ul>
      <% end %>
    </div>

  </div> <!-- end of LEFT column -->

  <div id="right_column" class="column">
    <div id="edit_zone" class="sub_zone">
      <h4 class='active_menu'>Make some small change.</h4>

  </div><!-- end of RIGHT column -->

</div> <!-- end of VIEW zone -->
