<!DOCTYPE html>
<html>
<head>
  <title>Proj2Payfriends</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main_container">

  <header>
    <h3>Welcome to Pay Friends</h3>
  </header>

  <div id="quick_adds">

    <%= link_to 'Add friend', new_user_path %>

    <%= form_for @user do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name %>
      <%= form.submit 'Create friend' %>
    <% end %>

  </div>

    <%= yield %>


</div>
</body>
</html>
